<h1 class="mt-5 mb-3">Edição de Perfil</h1>

<div class="row">

    <div class="col-6 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-signature"></i></span>
            <div class="form-floating">
                <input type="text" class="form-control" id="nome" th:value="${usuario.nome}"  placeholder="Nome" required>
                <label for="nome">Nome</label>
            </div>
        </div>
    </div>


    <div class="col-6 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating">
                <input type="text"  class="form-control" id="email" th:value = "${usuario.email}" placeholder="e-Mail"
                       required>
                <label for="email">e-Mail</label>
            </div>
        </div>
    </div>

    <div class="col-4 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="password" class="form-control" id="senhaAtual" placeholder="Senha Atual" required>
                <label for="senhaAtual">Senha Atual</label>
            </div>
        </div>
    </div>
    <div class="col-4 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="password" class="form-control" id="novaSenha" placeholder="Nova Senha" required>
                <label for="novaSenha">Nova Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
    <div class="col-4 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="password" class="form-control" id="confSenha" placeholder="Confirmação de Senha" required>
                <label for="confSenha">Confirmação de Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
    <div class="col-3 mb-3">
        <button id="salvar" class="btn btn-lg btn-primary">Salvar</button>
    </div>

</div>